@media only screen and (min-width: 601px, max-width: 899px) {


  social {
    margin-left: 5em;
  }
  social img {
    width: 40%;
  }
  logo {
    margin-left: 5em;
    margin-top: 2em;
    margin-right: 2em;
  }

  join {
    display: block;
    grid-area: join;
  }
  spotlights {
    display: flex;
    flex-direction: row;
    padding: 1em;
  }
  spotlights div {
    flex: 1;
  }

  main {
    grid-template-areas:
      "hero hero hero"
      "news news news"
      "spotlights spotlights spotlights"
      "join join join"
      "event event weather";
  }

  more-info {
    grid-column: 4/5;
  }
}
