
@import url('https://fonts.googleapis.com/css?family=Pacifico|Montserrat');

:root {
  --primary-color: #304B42;
  --secondary-color: #EF9478;
  --accent1-color: #FBE8AE;
  --accent2-color: #272D2D;

  
  --heading-font: "Pacifico", serif;
  --paragraph-font: Montserrat, Helvetica, sans-serif;

 
  --headline-color-on-white: #272D2D;  
  --headline-color-on-color: #FBE8AE; 
  --paragraph-color-on-white: #272D2D; 
  --paragraph-color-on-color: #FBE8AE; 
  --text-background-color: #304B42;
  }

html {
  background-color: var(--accent1-color);
}
content{
  max-width: 960px;
  margin: 0 auto;
}
body {
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--accent2-color);
  padding: 1em;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: #4BA581;
}
h1{
  text-align: center;
}
hr{
  border: 5px solid #EF9478;
  border-radius: 2.5px;
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--text-background-color); 
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: #FBE8AE;
  padding: 1em;
}
li {
  font-family: var(--paragraph-font);
  color: #FBE8AE;
  padding: 1em;
}
a {
  font-family: var(--paragraph-font);
  color: #EF9478;
  padding: 1em;
  font-size: 10pt;
}
footer{
  background-color: var(--text-background-color);
  display: grid;
  grid-template-columns: 300px auto;
  justify-items: center;
  align-items: center;
  height: 75px;
}
footer a{
  color: #EF9478;
  text-align:center;
}
img {
    max-width: 100%;
} 
footer p{
  font-size: 8pt;
}


/* Desktop View */
@media only screen and (min-width: 66em) {
  main {
      grid-template-columns: repeat(3, 1fr);
      font-size: 1em;
  }

  main section h2 {
      font-size: 1.6em;
  }

  main section h3 {
      font-size: 1.25em;
   }

   .top-height h3 {
      min-height: 44px;
  }

  section:nth-child(3) {
      grid-column: span 1;
  }

  main section {
      min-width: 265px;
  }

}


/* Tablets*/
@media only screen and (min-width: 42em) {
  header {
      font-size: 1.25em;
  }

  main {
      grid-template-columns: repeat(2, 1fr);
      font-size: 1em;
  }

  main section h2 {
      font-size: 1.5em;
  }

  main section h3 {
      font-size: 1.2em;
   }

  section:nth-child(3) {
      grid-column: span 2;
  }

  main section {
      min-width: 250px;
  }
}


* {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto 10px auto;
  font-family: 'Courier Prime', monospace;
}

header,
footer {
  padding: 1em;
  background-color: #192841;
  color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
}

header {
  font-size: 1em;
  margin-bottom: 0.5em;
}

footer {
  margin: 0.5em 0 0 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  font-size: 0.8em;
}

main section {
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0 0 0.5em 0;
}

.box-content {
  padding: 1em;
}

main section h2 {
  background-color: #192841;
  color: whitesmoke;
  font-size: 1.4em;
  padding: 10px;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

main section h3 {
  font-size: 1.1em;
}

img {
  display: block;
  margin: 0.5em auto;
  max-width: 100%;
}

footer a {
  color: lightsteelblue;
}

a {
  color: #192841;
}

a:active {
  color: lightcoral;
}