@import url("https://fonts.googleapis.com/css?family=Cooper+Black|Montserrat");

:root {
  --primary-color: #014a44;
  --secondary-color: #29ab87;
  --accent1-color: #f5aeae;
  --accent2-color: #bf410b;

  --heading-font: "Cooper Black", "rockwell", serif;
  --paragraph-font: Montserrat, Helvetica, sans-serif;

  --headline-color-on-white: #bf410b;
  --headline-color-on-color: #333333;
  --paragraph-color-on-white: #bf410b;
  --paragraph-color-on-color: #f5aeae;
  --text-background-color: #014a44;
}

html {
  background-color: #014a44;
}
content {
  max-width: 960px;
  margin: 0 auto;
}
body {
  max-width: 960px;
  margin: 0 auto;
  background-color: #014a44;
  padding: 1em;
}
img {
  max-width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-size: 1.5vw;
  color: #f9e3dc;
}
h1 {
  text-align: center;
  font-size: 5vw;
}
hr {
  border: 5px solid #ef9478;
  border-radius: 2.5px;
}
header {
  display: flex;
  padding: 5em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: #29ab87;
  border-radius: 2rem;
}
header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  font-size: 1vw;
  color: #f9e3dc;
  padding: 1em;
}
li {
  font-family: var(--paragraph-font);
  font-size: 1vw;
  color: #f9e3dc;
  padding: 1em;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
a {
  font-family: var(--paragraph-font);
  font-size: 1vw;
  color: #f5aeae;
  padding: 1em;
  font-size: 10pt;
}

@media only screen and (max-width: 600px) {
  p,
  a,
  li,
  footer {
    font-size: 3.5vw;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 4.5vw;
  }
}
footer {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  height: 75px;
  border-radius: 2rem;
}
footer a {
  color: #f9e3dc;
  text-align: center;
}
footer p {
  font-size: 0.75vw;
  color: #f9e3dc;
}
