
@import url('https://fonts.googleapis.com/css?family=Cooper+Black|Montserrat');

:root {
  --primary-color: #304B42;
  --secondary-color: #EF9478;
  --accent1-color: #FBE8AE;
  --accent2-color: #272D2D;

  
  --heading-font: "Cooper Black", "rockwell", serif;
  --paragraph-font: Montserrat, Helvetica, sans-serif;

 
  --headline-color-on-white: #272D2D;  
  --headline-color-on-color: #FBE8AE; 
  --paragraph-color-on-white: #272D2D; 
  --paragraph-color-on-color: #FBE8AE; 
  --text-background-color: #304B42;
  }

html {
  background-color: var(--accent1-color);
}
content{
  max-width: 960px;
  margin: 0 auto;
}
body {
  max-width: 960px;
  margin: 0 auto;
  background-color: #304B42;
  padding: 1em;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: #4BA581;
}
h1{
  text-align: center;
}
hr{
  border: 5px solid #EF9478;
  border-radius: 2.5px;
}
header {
  padding: 3em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: #272D2D; 
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: #FBE8AE;
  padding: 1em;
}
li {
  font-family: var(--paragraph-font);
  color: #FBE8AE;
  padding: 1em;
}
a {
  font-family: var(--paragraph-font);
  color: #EF9478;
  padding: 1em;
  font-size: 10pt;
}
footer{
  background-color: #272D2D;
  display: grid;
  grid-template-columns: 300px auto;
  justify-items: center;
  align-items: center;
  height: 75px;
}
footer a{
  color: #EF9478;
  text-align:center;
}
img {
    max-width: 100%;
} 
footer p{
  font-size: 8pt;
}


